name: CI/CD

on:
  push:
    branches:
      - main
    paths:
      - '02-github-actions-kdrama-reco/**'
      - '.github/workflows/kdrama-reco.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - run: echo "GitHub Actions fonctionne !"
